
<section class="container">
    <div data-thumbs-view="Header"></div>
    <section class="content-container">
        <div id="core-container"></div>
    </section>
    <footer data-thumbs-view="Side" class="side-container"></footer>
</section>