<div class="side">
    <div>
        <a href="#" data-thumbs-delegate="click:onWelcomeClick">Welcome</a>
    </div>
    <div>
        <a href="#" data-thumbs-delegate="click:onDynaTreeExampleClick">DynaTree Example</a>
    </div>
</div>